.display{
    display: grid;
    grid-template-columns: 1fr 1fr 100px 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.click{
    grid-column: 2;
    grid-row: 1;
}

.companion{
    grid-column: 4;
    grid-row: 1;
}

.compounder{
    grid-column: 4;
    grid-row: 2;
}

